.app {
  min-height: 100vh;
  background-color: #242425;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vw;
  padding: 20px;
  border-radius: 70px;
  color: aqua;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}

* {
  scroll-behavior: smooth;
}
